body{
    /*background-color:  rgb(230, 222, 210);*/
    background-color: #fff3f3;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.header{
    grid-area: hd;
    grid-column: 1/10;
    grid-row: 1/1;
}

.sidebar{
    grid-area: sb;
    grid-column: 9/10;
    /*padding: 10px;*/
}

.map-content{
    grid-area: map;
    grid-column: 1/5;
    grid-row: 2/8;

}

.chart-content{
    grid-area: charts;
    grid-column: 5/9;
    grid-row: 2/8;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

* {
    box-sizing: border-box;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
        "hd"
        "map charts sb";
    border-radius: 3px;
    background-color:#fff3f3;
    width: 98vw;
    height: 96vh;
    margin: 0 auto;
    grid-gap: 10px;
}

.wrapper > div {
    border-radius: 6px;
    background-color: #8c75de46;
    padding: 1em;
    color: #fcefeb;
    float: left;
}

h1{
    font-family: serif;
    text-align: center;
    margin-top: 5vh;
    letter-spacing: 8px;
    color: rgba(36, 37, 102, 0.815);
    font-size: 5vh;
}

h2{
  font-family: serif;
  text-align: center;
  letter-spacing: 6px;
  color: rgba(36, 37, 102, 0.815);
  position: center;
  margin-top: 1vh;
  margin-bottom: 2vh;
}


.jud_prop{
    grid-area: map;
    margin-top: 10vh;
    margin-left: 30px;
    width: 80%;
}

.responsive_img{
    height: auto;
    width: 100%;
}

#hover_img:hover {
    box-shadow: 0 0 2px 1px rgba(7, 103, 134, 0.5);
  }

.reg_prop{
    display: block;
    grid-area: sb;
    width: 8vw;
    height: auto;
    top: 14vh;
    left: 84vw;  
    border-radius: 1px; 
    filter: grayscale(95%);
    padding: 0;
}

.tara_sb{
  display: block;
  grid-area: sb;
  width: 8vw;
  height: auto;
  top: 14vh;
  left: 84vw;  
  border-radius: 1px; 
  filter: grayscale(95%);
  padding: 0;
  margin-top: 30px;
}

.tara_prop{
    grid-area: sb;
    width: 8vw;
    height: auto;
    top: 40vh;
    left: 84vw;
    border-radius: 1px; 
    padding: 0;
    margin-top: 30px;
}

.pie_position{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;  
    overflow-x: hidden;
    align-self: center;
    margin-left: 3vw;
    margin-top: 30px;
}

li{
  margin-bottom: -60px;
  margin-left: -60px;
}

ul {
    list-style-type: none;
}

#bar {
  width: 36vw;
  margin-left: 10px;
}

#line {
  width: 38vw;
}

#radar {
  width: 38vw;
}

/* Adaptare pentru telefoane/rezolutii mici + iPhone-uri */
 @media only screen and (min-width: 320px) and (max-width: 790px) {
  #bar{
    width: 78vw;
    height: 65vh;
    margin-left: 6px;
    margin-top: -10px;
    margin-bottom: 10vh;
  }

  #line{
    width: 70vw;
    height: 65vh;
    margin-left: 5px;
    margin-top: -5px;
    margin-bottom: 18vh;
  }

  #radar{
    width: 70vw;
    height: 62vh;
    margin-left: 5px;
    margin-top: -10px;
  }

  .header{
    grid-area: hd;
    grid-column: 2/8;
    grid-row: 1/1;
    width: 110%;
    margin-left: -10px;
  }

  .map-content{
   grid-area: map;
   grid-column: 2/8;
   grid-row: 2/4;
   width: 110%;
   margin-left: -10px;
   }

  .chart-content{
    grid-area: charts;
    grid-column: 2/8;
    grid-row: 4/10;
    width: 110%;
    margin-left: -10px;
  }

  .sidebar{
    position: fixed;
    grid-area: sb;
    grid-column: 7/7;
    right: -19px;
  }
  
  .wrapper {
    grid-template-areas:
    "hd sb"
    "map" 
    "charts";
    grid-auto-rows: minmax(200px, max-content);
    overflow-x: hidden;
  }

  .reg_prop{
    margin-left: -14px;
  }

  .tara_sb{
    margin-left: -14px;
  }

  #topbutton{
    margin-right: -4px;
    width: 32px !important;
    bottom: 18px;
  }

  body {
    overflow-x: hidden;
  }
}

/* Adaptare pentru ecrane medii/mari */
@media only screen and (min-width: 790px) and (max-width: 1000px) {
  #bar{
    width: 75vw;
    height: 65vh;
    margin-left: 8px;
    margin-bottom: 15vh;
    margin-top: -10px;
  }

  #line{
    width: 70vw;
    height: 80vh;
    margin-left: 5px;
    margin-bottom: 15vh;
    margin-top: -10px;
  }

  #radar{
    width: 70vw;
    height: 80vh;
    margin-left: 5px;
    margin-top: -10px;
  }

  h2{
    margin-top: -5%;
  }

  .header{
    grid-area: hd;
    grid-column: 2/8;
    grid-row: 1/1;
    width: 108%;
    margin-left: -10px;
  }

  .map-content{
   grid-area: map;
   grid-column: 2/8;
   grid-row: 2/4;
   width: 108%;
   margin-left: -10px;
   }

  .chart-content{
    grid-area: charts;
    grid-column: 2/8;
    grid-row: 4/10;
    width: 108%;
    margin-left: -10px;
  }

  .sidebar{
    position: fixed;
    grid-area: sb;
    grid-column: 7/7;
    right: -16px;
  }

  .wrapper {
    grid-template-areas:
        "hd sb"
        "map" 
        "charts";
  
  grid-auto-rows: minmax(200px, max-content);
  overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar * {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(204, 67, 67, 0.1) !important;
  }

  .jud_prop{
    width: 68%;
    margin-top: 6vh;
    margin-left: 7vw;
  }

  #topbutton{
    margin-right: 10px;
  }

  body {
    overflow-x: hidden;
  }
}

button{
  display: inline-block;
  position: sticky;
  margin-left: 5vw;
  width: auto;
  font-size: 2vh;
  color: whitesmoke;
  height: auto;
  background-color: rgba(28, 0, 128, 0.356);
  border-color: rgb(212, 196, 212);
  border-radius: 7px;
  text-align: center;
}
