body{
    background-color: #847bd1;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.header{
    grid-area: hd;
    grid-column: 1/10;
    grid-row: 1/1;
}

.sidebar{
    grid-area: sb;
    grid-column: 9/10;
    /*padding: 10px;*/
}

.map-content{
    grid-area: map;
    grid-column: 1/6;
    grid-row: 2/8;
}

.chart-content{
    grid-area: charts;
    grid-column: 6/9;
    grid-row: 2/8;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

* {
    box-sizing: border-box;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
        "hd"
        "map charts sb";
    border-radius: 3px;
    background-color: #847bd1;
    width: 98vw;
    height: 96vh;
    margin: 0 auto;
    grid-gap: 10px;
}

.wrapper > div {
    border: 2px solid rgba(70, 20, 209, 0.5);
    border-radius: 5px;
    background-color: rgba(186, 180, 248, 0.7);
    padding: 1em;
    color: #fcefeb;
    float: left;
}


h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 5vh;
    letter-spacing: 8px;
    color: rgb(12, 74, 129);
}

.jud_prop{
    grid-area: map;
    margin-top: 10vh;
    margin-left: 30px;
    width: 80%;
}

.responsive_img{
    height: auto;
    width: 100%;
}

#hover_img:hover {
    box-shadow: 0 0 2px 1px rgba(7, 103, 134, 0.5);
  }

.reg_prop{
    display: block;
    grid-area: sb;
    width: 8vw;
    height: auto;
    top: 14vh;
    left: 84vw;  
    border-radius: 1px; 
    filter: grayscale(100%);
    padding: 0;
    margin-top: 30px;
}

.tara_prop{
    grid-area: sb;
    width: 8vw;
    height: auto;
    top: 40vh;
    left: 84vw;
    border-radius: 1px; 
    padding: 0;
    margin-top: 30px;
}


@keyframes fillup{
    from{stroke-dasharray: 0 100;}
    to{
        stroke-dasharray: 5 100;
    }
}
/* p{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: rgb(20, 86, 145);
  margin-top: 30px;
  font-weight: bolder;
  font-size: 3vh;
  margin-left: -30px;

} */
  .pie_position{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;  
    overflow-x: hidden;
    align-self: center;
    margin-left: 2vw;
    margin-top: 30px;
  }

li{
  margin-bottom: 105px;
}

li:first-child{
  margin-top: 30px;
}

ul {
    list-style-type: none;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(20, 86, 145);
    margin-top: 40px;
}

 .container {
    display: block;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin-left: 20%;
    font-weight: bold;
    color: rgb(20, 86, 145);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

.container input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: sticky;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
  }
  

  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
 
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .container input:checked ~ .checkmark:after {
    display: block;
  }
  

  .container .checkmark:after {
    display: charts;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

